@model User

<div class="register">
    <form asp-action="Login" asp-controller="Account" method="post" role="form">

        <div>
            <h1>Logowanie</h1>
            <div class="form-group">
                <div class="container">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger" id="textDanger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="container">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger" id="textDanger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="container">
                    <input type="submit" class="btn btn-primary" value="Logowanie" />
                </div>
            </div>
        </div>
    </form>
</div>